.content {
    margin-top: 33px;
    display: flex;
}
/* .sidebar {
    width: 162px;
    height: 450px;
    background: #14b8a633;
    border-radius: 30px;
    padding: 10px;
} */
.interest,
.education,
.self {
    width: 110px;
    height: 110px;
    background: white;
    border-radius: 20px;
    cursor: pointer;
    margin: 15px;
    padding: 10px;
    text-align: center;
}
.icon-interest,
.icon-edu,
.icon-self {
    display: flex;
    align-items: center;
    justify-content: center;
}
.title-self {
    display: flex;
    align-items: center;
    justify-content: center;
}
.heart-icon,
.book-icon,
.person-icon {
    width: 60px;
    height: 60px;
}
.main-self {
    background: #14b8a633;
    color: white;
    width: 48.5vw;
    margin-left: 33px;
    border-radius: 30px;
}

.project-title {
    width: 190px;
    border-bottom: solid 3px #ee82ee;
    margin-left: 20px;
    height: 30px;
}
.motivation-title h3,
.project-title h3 {
    font-weight: bold;
    font-size: 1.5rem;
}

.about-title {
    border-bottom: solid 3px #ee82ee;
    width: 140px;
    margin-left: 20px;
    height: 60px;
}
.about-title h1 {
    font-weight: bold;
    padding-top: 20px;
}
.about-content {
    width: 95%;
    margin-left: 20px;
    margin-top: 20px;
}
.p-2 {
    margin-top: -10px;
}
.list-project {
    margin-top: 30px;
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-item {
    flex: 0 0 calc(50% - 10px);
    margin-bottom: 20px;
}

.project-item a {
    text-decoration: none;
}
.image-prj {
    width: 390px;
    height: 180px;
    border-radius: 20px;
}
.name-project {
    width: 390px;
    text-align: center;
    font-weight: bold;
}
.name-project a {
    text-decoration: none;
    color: white;
}
.motivation {
    margin-bottom: 50px;
    margin-top: 50px;
}
.motivation-title {
    width: 322px;
    border-bottom: solid 3px #ee82ee;
    margin-left: 20px;
    margin-top: -25px;
    height: 30px;
    margin-bottom: 30px;
}
.image-person {
    margin-left: 30px;
    margin-right: 20px;
}
.image-person img {
    width: 90px;
    height: 90px;
    border-radius: 10px;
}
.each-slide-effect > div {
    display: flex;
    align-items: center;
    background-size: cover;
    height: 150px;
}
.slide {
    width: 97%;
    margin-left: 10px;
}
.each-slide-effect span {
    padding: 20px;
    font-size: 20px;
    text-align: center;
}
.motivation-item {
    display: flex;
    align-items: center;
}
.person-info {
    width: 80%;
    height: 130px;
    padding: 10px;
}
.said {
    margin-top: -40px;
}
.education-title {
    border-bottom: solid 3px #ee82ee;
    width: 116px;
    margin-left: 20px;
    height: 40px;
}
.education-content {
    margin-top: 10px;
}
.title-experience-edu,
.title-history-edu {
    display: flex;
    margin-left: 20px;
}
.film-title img,
.title-experience-edu img,
.title-history-edu img {
    width: 40px;
    height: 40px;
    margin-top: 15px;
    margin-right: 5px;
}
.film-title h2,
.title-experience-edu h2,
.title-history-edu h2 {
    font-size: 1.7rem;
}
.content-experience-edu ul li div h4,
.content-history-edu ul li div h4 {
    font-size: 1.2rem;
}
.content-history-edu ul li::marker,
.content-experience-edu ul li::marker {
    color: orangered;
}
.date {
    color: rgb(70, 69, 69);
}
.dark-mode-date {
    color: white;
}
.content-history-edu ul li div {
    width: 95%;
}
.interest-title {
    border-bottom: solid 3px #ee82ee;
    width: 116px;
    margin-left: 20px;
    height: 40px;
}

.film-title {
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
}
.film-item {
    width: 95%;
    height: 145px;
    margin-left: 20px;
    background: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.dark-mode-film-item {
    width: 95%;
    height: 145px;
    margin-left: 20px;
    background: black;
    color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.image-film img {
    width: 168px;
    height: 100px;
    border-radius: 10px;
    margin-left: 20px;
}
.link-film {
    text-decoration: none;
    color: black;
}
.name-film {
    width: 73%;
    margin-left: 15px;
    height: 105px;
}
.name-film h3 {
    margin: 0;
    font-weight: bold;
}
/*Mode*/
.dark-mode-info {
    width: 60vw;
    height: 230px;
    margin-top: 40px;
    border-radius: 30px;
    display: flex;
    color: white;
    background: #14b8a633;
}
.dark-mode-sidebar {
    width: 162px;
    height: 450px;
    background: #14b8a633;
    border-radius: 30px;
    padding: 10px;
}
.dark-mode-main-self {
    background: #14b8a633;
    width: 48.5vw;
    margin-left: 33px;
    border-radius: 30px;
    color: white;
}
.dark-mode-name-project {
    color: white;
}
/* Mode */
.image-prj {
    &:hover {
        transform: scale(1.1);
        transition: all 0.3s ease;
    }
}

/* Giao diện mobile */
.info-mobile {
    background: #14b8a633;
    width: 90vw;
    text-align: center;
    margin-top: 50px;
    border-radius: 30px;
}
.avatar-mobile img {
    width: 120px;
    height: 120px;
    border-radius: 30px;
    margin-top: 20px;
}
.social-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.social-mobile > :last-child {
    margin-right: 0;
}
.icon-world-light-mobile,
.icon-world-dark-mobile,
.icon-github-mobile,
.icon-tiktok-mobile,
.icon-instagram-mobile,
.icon-facebook-mobile {
    width: 20px;
    height: 20px;
}
.icon-mobile {
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}
.title-info-text-mobile {
    color: grey;
}
.country-mobile {
    margin-bottom: 20px;
}
.box-mobile {
    width: 100%;
    height: 30px;
}
.box-mobile-2 {
    width: 100%;
    height: 50px;
}
.box-mobile-3 {
    width: 100%;
    height: 80px;
}
.box-mobile-4 {
    width: 100%;
    height: 80px;
}
.sidebar-mobile {
    width: 100vw;
    height: 100px;
    background: #14b8a633;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
.interest-mobile,
.education-mobile,
.self-mobile {
    width: 50px;
    height: 50px;
    background: rgba(235, 240, 243, 0.8);
    border-radius: 20px;
    cursor: pointer;
    margin: 15px;
    padding: 10px;
    text-align: center;
}
.icon-interest-mobile,
.icon-edu-mobile,
.icon-self-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
}
.title-self-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
}
.title-edu-mobile h5,
.title-interest-mobile h5,
.title-self-mobile h5 {
    margin: 0;
    font-size: 0.5rem;
    margin-top: 10px;
}

.heart-icon-mobile,
.book-icon-mobile,
.person-icon-mobile {
    width: 30px;
    height: 30px;
}
/* Main mobile */
.main-self-mobile {
    background: #14b8a633;
    width: 90vw;
    border-radius: 30px;
    margin-bottom: 30px;
}
.about-title-mobile {
    border-bottom: solid 3px #ee82ee;
    width: 140px;
    margin-left: 20px;
    height: 60px;
}
.about-title-mobile h1 {
    font-weight: bold;
    padding-top: 20px;
}
.about-content-mobile {
    width: 90%;
    margin-left: 20px;
    margin-top: 20px;
}
.project-title-mobile {
    width: 190px;
    border-bottom: solid 3px #ee82ee;
    margin-left: 20px;
    height: 30px;
}
.motivation-title-mobile h3,
.project-title-mobile h3 {
    font-weight: bold;
    font-size: 1.5rem;
}
.image-prj-mobile {
    width: 260px;
    height: 120px;
    border-radius: 20px;
}
.project-item-mobile {
    text-align: center;
    margin-top: 20px;
}
.motivation-mobile {
    margin-bottom: 50px;
    margin-top: 50px;
}

.motivation-title-mobile h3,
.project-title-mobile h3 {
    font-weight: bold;
    font-size: 1.5rem;
}
.slide-mobile {
    width: 100%;
    margin-left: 0;
}
.motivation-mobile {
    margin-bottom: 50px;
    margin-top: 50px;
}
.motivation-title-mobile {
    width: 60%;
    border-bottom: solid 3px #ee82ee;
    margin-left: 20px;
    margin-top: -25px;
    height: 60px;
    margin-bottom: 10px;
}
.image-person-mobile {
    margin-left: 30px;
    margin-right: 20px;
}
.image-person-mobile img {
    width: 90px;
    height: 90px;
    border-radius: 10px;
}
.each-slide-effect-mobile > div {
    background-size: cover;
    height: 250px;
}

.each-slide-effect-mobile span {
    padding: 20px;
    font-size: 20px;
    text-align: center;
}
.motivation-item-mobile {
    display: flex;
    align-items: center;
}
.person-info-mobile {
    height: 130px;
    padding: 10px;
}
.project-item-mobile a {
    text-decoration: none;
    color: black;
}
.education-title-mobile {
    border-bottom: solid 3px #ee82ee;
    width: 116px;
    margin-left: 20px;
    height: 60px;
}
.education-title-mobile h1 {
    padding-top: 20px;
}
.education-content-mobile {
    margin-top: 10px;
}

.title-experience-edu-mobile,
.title-history-edu-mobile {
    display: flex;
    margin-left: 20px;
}
.film-title-mobile img,
.title-experience-edu-mobile img,
.title-history-edu-mobile img {
    width: 40px;
    height: 40px;
    margin-top: 15px;
    margin-right: 5px;
}
.film-title-mobile h2,
.title-experience-edu-mobile h2,
.title-history-edu-mobile h2 {
    font-size: 1.7rem;
}
.content-experience-edu-mobile ul li div h4,
.content-history-edu-mobile ul li div h4 {
    font-size: 1.2rem;
}
.content-history-edu-mobile ul li::marker,
.content-experience-edu-mobile ul li::marker {
    color: orangered;
}
.content-experience-edu-mobile,
.content-history-edu-mobile {
    width: 90%;
}

.interest-title-mobile {
    border-bottom: solid 3px #ee82ee;
    width: 116px;
    margin-left: 20px;
    height: 60px;
}

.film-title-mobile {
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
}
.interest-title-mobile h1 {
    padding-top: 20px;
}
.film-item-mobile {
    width: 80vw;
    height: 145px;
    margin-left: 20px;
    background: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.image-film-mobile img {
    width: 168px;
    height: 100px;
    border-radius: 10px;
    margin-left: 20px;
}
.link-film-mobile {
    text-decoration: none;
    color: black;
}
.name-film-mobile {
    width: 30%;
    margin-left: 15px;
    height: 105px;
}
.name-film-mobile h3 {
    margin: 0;
    font-weight: bold;
}
.content-film-mobile {
    white-space: normal;
    word-wrap: break-word; /* Hỗ trợ các trình duyệt cũ */
    overflow-wrap: break-word;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Số lượng dòng muốn hiển thị */
    -webkit-box-orient: vertical;
    line-height: 1.2em;
    max-height: 3.6em;
}
/* Mode mobile*/
.dark-mode-info-mobile {
    background: #14b8a633;
    width: 90vw;
    text-align: center;
    margin-top: 50px;
    color: white;
    border-radius: 30px;
}
.dark-mode-main-self-mobile {
    background: #14b8a633;
    width: 90vw;
    color: white;
    border-radius: 30px;
    margin-bottom: 30px;
}
.dark-mode-sidebar-mobile {
    width: 100vw;
    height: 100px;
    background: #14b8a633;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
.dark-mode-film-item-mobile {
    width: 80vw;
    height: 145px;
    margin-left: 20px;
    background: black;
    color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
/* Mode mobile */
.active-btn {
    width: 50px;
    height: 50px;
    border-radius: 20px;
    cursor: pointer;
    margin: 15px;
    padding: 10px;
    text-align: center;
    background: #ee82ee;
}
.name-project-mobile h4 {
    color: white;
}
