.dark-mode-main-self-blog-detail-mobile {
    background: #14b8a633;
    width: 90vw;
    color: white;
    border-radius: 30px;
    margin-bottom: 30px;
}
.main-self-blog-detail-mobile {
    background: #14b8a633;
    color: white;
    width: 90vw;
    height: auto;
    border-radius: 30px;
    margin-bottom: 300px;
    margin-top: 30px;
}
.dark-mode-main-self-blog-detail {
    background: #14b8a633;
    width: 48.5vw;
    margin-left: 33px;
    border-radius: 30px;
    color: white;
}
.main-self-blog-detail {
    background: #14b8a633;
    color: white;
    width: 48.5vw;
    margin-left: 33px;
    border-radius: 30px;
    margin-bottom: 30px;
    margin-top: 21px;
}
.container img {
    width: 46vw;
}
@media (width: 1669px) {
    .main-self-blog-detail {
        width: 47vw;
    }
    .container img {
        width: 44vw;
    }
}

.container-mobile img {
    width: 80vw;
}
.avatar-user-mobile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.avatar-user img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.comment-user {
    margin-left: 20px;
}
.comment-user em {
    color: green;
}

.comment-input textarea {
    width: 39vw;
}
.comment-input-mobile textarea {
    width: 40vw;
}
.comment-input {
    margin-left: 8px;
    display: flex;
    justify-content: center;
}
.input-wrapper-mobile-edit,
.input-wrapper-mobile,
.input-wrapper {
    display: flex;
    align-items: center;
}
.input-wrapper-mobile textarea,
.input-wrapper textarea {
    flex-grow: 1;
    margin-right: 10px;
    height: 30px;
    padding: 5px;
    outline: none;
    background: transparent;
    color: white;
}
.input-wrapper-mobile-edit textarea {
    flex-grow: 1;
    margin-right: 10px;
    height: 30px;
    padding: 5px;
    outline: none;
}
.btn-comment-mobile-edit {
    height: 43px;
    cursor: pointer;
    background: green;
    border: solid 1px green;
    color: white;
}
.btn-undo {
    height: 43px;
    cursor: pointer;
    background: yellow;
    margin-left: 8px;
}
.btn-comment-mobile,
.btn-comment {
    height: 43px;
    cursor: pointer;
    background: transparent;
    border: solid 1px green;
    color: white;
    &:hover {
        background: green;
    }
}
.comment-user-mobile em {
    color: green;
}
.btn-heart {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
}
.icon-heart-not-mount {
    cursor: pointer;
    width: 20px;
    height: 20px;
}
.icon-heart-not-mount-mobile {
    width: 15px;
    height: 15px;
}
.quantity-mobile {
    margin-right: 30px;
    font-size: 1.2rem;
    margin-left: 5px;
}
.quantity {
    margin-right: 30px;
    font-size: 1.5rem;
    margin-left: 5px;
}
.btn-click {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: none;
}
.comment-item {
    display: flex;
    padding: 5px 0px;
    border-bottom: solid 1px green;
    margin-bottom: 20px;
}
.comment-item-child-mobile,
.comment-item-child {
    display: flex;
    padding: 5px 0px;
    border-bottom: solid 1px green;
    margin-bottom: 20px;
    margin-left: 40px;
}
@media (width: 1669px) {
    .comment-item-child {
        margin-left: 30px;
    }
}
.avatar-user-comment-item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.list-comment {
    margin-left: 20px;
}
.comment-item-mobile {
    display: flex;
    padding: 5px 0px;
    border-bottom: solid 1px green;
    margin-bottom: 15px;
}
.avatar-user-comment-item-mobile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.list-comment-mobile {
    margin-top: 0;
}
